body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiSwitch-track{
  background-color: red !important;
}
.MuiSwitch-input{
  color: red !important;
}
.Mui-checked{
  color: red !important;
}
.MuiButton-containedSizeMedium:hover{
  background-color: red !important;
}